.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem 1.2rem;
  border-radius: var(--radius-sm);
  corner-shape: squircle;
  background : none;
  gap: 1.25rem;
  cursor: pointer;
  transition:
    background-color 180ms ease,
    transform 150ms ease,
    box-shadow 200ms ease;
  white-space: nowrap;

}

.button:hover:not([aria-disabled='true']):not([data-disabled='true']) {
  font-weight: var(--type---title-3---weight-emphasized);
}

.button[aria-disabled='true'],
.button[data-disabled='true'] {
  cursor: not-allowed;
  opacity: 0.6;
  box-shadow: none;
}

.inner {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}

.label {
  display: inline-flex;
  align-items: center;
  font-weight: inherit;
}

.iconWrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  width: 1.4rem;
  height: 1.4rem;
}
.icon svg {
  width: 100%;
  height: 100%;
}
