/* General Navigation Styles */
.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  height: var(--nav-height); /* Use the variable for the navigation height */
  padding: 2em 3em;
  transition: all 0.5s ease;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.navListContainer {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
  align-items: center; /* Vertically align items */
}

/* Add specific styles for desktop/mobile containers if needed */
.desktopContainer {
  /* Desktop specific layout styles */
}

/* Reduced State Styles */
.nav.mobile {
  padding: 1em 1em;
}

.mobileContainer {
  position: fixed;
  top: var(--nav-height);
  left: 0;
  width: 100%;
  height: calc(100vh - var(--nav-height));
  background: rgba(var(--background-rgb), 0.9);
  backdrop-filter: blur(10px);
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 2em;
  overflow-y: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.mobileNavWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(var(--background-rgb), 0.9);
  backdrop-filter: blur(48px);
  z-index: 999;
  display: flex;
  justify-content: center;
}

.navLinksContainer {
  position: relative;
  display: flex;
  align-items: center;
}

.navLeft,
.navRight {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navRight {
  gap: 1rem;
}

.navItem {
  display: flex;
  align-items: center;
  padding: 0.625em 0.965em;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.navItem a {
  text-decoration: none;
}

.menuButton {
  background: var(--backgroundSecondary);
  padding: 0.5rem 1rem;
  border-radius: 1.5em;
  cursor: pointer;
  position: relative;
  z-index: 1001;
}

.mobileNavList {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: center;
  width: 100%;
  position: relative;
  z-index: 1;
}

.mobileNavList .navItem {
  padding: 1em 1.5em;
  width: 80%;
  justify-content: center;
}

.mobileNavList .navItem a {
  font-size: 1.2rem;
}

.backgroundSlider {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: var(--backgroundSecondary);
  box-shadow: var(--shadows--mini);
  border-radius: 0.8em;
  z-index: 0;
  transform-origin: left;
}

.gradientBlur {
  position: fixed;
  z-index: -1;
  inset: 0 0 auto 0;
  height: calc(var(--nav-height) + 2em) ;
  pointer-events: none;
}

.gradientBlur > div,
.gradientBlur::before,
.gradientBlur::after {
  position: absolute;
  inset: 0;
}

.gradientBlur::before {
  content: '';
  z-index: 1;
  backdrop-filter: blur(0.5px);
  mask: linear-gradient(
    to top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 12.5%,
    rgba(0, 0, 0, 1) 25%,
    rgba(0, 0, 0, 0) 37.5%
  );
}

.gradientBlur > div:nth-of-type(1) {
  z-index: 2;
  backdrop-filter: blur(1px);
  mask: linear-gradient(
    to top,
    rgba(0, 0, 0, 0) 12.5%,
    rgba(0, 0, 0, 1) 25%,
    rgba(0, 0, 0, 1) 37.5%,
    rgba(0, 0, 0, 0) 50%
  );
}

.gradientBlur > div:nth-of-type(2) {
  z-index: 3;
  backdrop-filter: blur(2px);
  mask: linear-gradient(
    to top,
    rgba(0, 0, 0, 0) 25%,
    rgba(0, 0, 0, 1) 37.5%,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 0) 62.5%
  );
}

.gradientBlur > div:nth-of-type(3) {
  z-index: 4;
  backdrop-filter: blur(4px);
  mask: linear-gradient(
    to top,
    rgba(0, 0, 0, 0) 37.5%,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 1) 62.5%,
    rgba(0, 0, 0, 0) 75%
  );
}

.gradientBlur > div:nth-of-type(4) {
  z-index: 5;
  backdrop-filter: blur(8px);
  mask: linear-gradient(
    to top,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 1) 62.5%,
    rgba(0, 0, 0, 1) 75%,
    rgba(0, 0, 0, 0) 87.5%
  );
}

.gradientBlur > div:nth-of-type(5) {
  z-index: 6;
  backdrop-filter: blur(16px);
  mask: linear-gradient(
    to top,
    rgba(0, 0, 0, 0) 62.5%,
    rgba(0, 0, 0, 1) 75%,
    rgba(0, 0, 0, 1) 87.5%,
    rgba(0, 0, 0, 0) 100%
  );
}

.gradientBlur > div:nth-of-type(6) {
  z-index: 7;
  backdrop-filter: blur(32px);
  mask: linear-gradient(
    to top,
    rgba(0, 0, 0, 0) 75%,
    rgba(0, 0, 0, 1) 87.5%,
    rgba(0, 0, 0, 1) 100%
  );
}

.gradientBlur::after {
  content: '';
  z-index: 8;
  backdrop-filter: blur(64px);
  mask: linear-gradient(to top, rgba(0, 0, 0, 0) 87.5%, rgba(0, 0, 0, 1) 100%);
}

.gradientBlurReduced {
  position: fixed;
  z-index: -1;
  inset: 0 0 auto 0;
  height: var(--nav-height);
  pointer-events: none;

}

.gradientBlurReduced > div,
.gradientBlurReduced::before,
.gradientBlurReduced::after {
  position: absolute;
  inset: 0;
}

.gradientBlurReduced::before {
  content: '';
  z-index: 1;
  backdrop-filter: blur(0.5px);
  mask: linear-gradient(
    to top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 12.5%,
    rgba(0, 0, 0, 1) 25%,
    rgba(0, 0, 0, 0) 37.5%
  );
}

.gradientBlurReduced > div:nth-of-type(1) {
  z-index: 2;
  backdrop-filter: blur(1px);
  mask: linear-gradient(
    to top,
    rgba(0, 0, 0, 0) 12.5%,
    rgba(0, 0, 0, 1) 25%,
    rgba(0, 0, 0, 1) 37.5%,
    rgba(0, 0, 0, 0) 50%
  );
}

.gradientBlurReduced > div:nth-of-type(2) {
  z-index: 3;
  backdrop-filter: blur(2px);
  mask: linear-gradient(
    to top,
    rgba(0, 0, 0, 0) 25%,
    rgba(0, 0, 0, 1) 37.5%,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 0) 62.5%
  );
}

.gradientBlurReduced > div:nth-of-type(3) {
  z-index: 4;
  backdrop-filter: blur(4px);
  mask: linear-gradient(
    to top,
    rgba(0, 0, 0, 0) 37.5%,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 1) 62.5%,
    rgba(0, 0, 0, 0) 75%
  );
}

.gradientBlurReduced > div:nth-of-type(4) {
  z-index: 5;
  backdrop-filter: blur(8px);
  mask: linear-gradient(
    to top,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 1) 62.5%,
    rgba(0, 0, 0, 1) 75%,
    rgba(0, 0, 0, 0) 87.5%
  );
}

.gradientBlurReduced > div:nth-of-type(5) {
  z-index: 6;
  backdrop-filter: blur(16px);
  mask: linear-gradient(
    to top,
    rgba(0, 0, 0, 0) 62.5%,
    rgba(0, 0, 0, 1) 75%,
    rgba(0, 0, 0, 1) 87.5%,
    rgba(0, 0, 0, 0) 100%
  );
}

.gradientBlurReduced > div:nth-of-type(6) {
  z-index: 7;
  backdrop-filter: blur(32px);
  mask: linear-gradient(
    to top,
    rgba(0, 0, 0, 0) 75%,
    rgba(0, 0, 0, 1) 87.5%,
    rgba(0, 0, 0, 1) 100%
  );
}

.gradientBlurReduced::after {
  content: '';
  z-index: 8;
  backdrop-filter: blur(64px);
  mask: linear-gradient(to top, rgba(0, 0, 0, 0) 87.5%, rgba(0, 0, 0, 1) 100%);
}
