.footer {
  padding: 0.2rem var(--container-padding-x);
  text-align: center;
  filter: opacity(0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer p {
  color: var(--label---tertiary);
  font-size: 0.8rem;
}
