.footer {
  padding: 0.5rem var(--container-padding-x, 0.5em);
  text-align: center;
  color: var(--label---tertiary);
  filter: opacity(0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer p {
  font-size: 0.8rem;
}
