.overlay {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(8px);
  background: var(--background---primary);
  z-index: 9999;
  opacity: 1;
  animation: fade-in 180ms ease-out;
  color: var(--label---primary);
}

.wordmark {
  font-size: clamp(2rem, 6vw, 3rem);
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
