.notFound {
  min-height: calc(100vh - var(--nav-height) - 1.5rem);
  justify-content: center;
}

.content {
  text-align: center;
}

.title {
  margin: auto;
}

.description {
  color: var(--label---tertiary);
}
