.cardGrid {
  display: grid;
  --card-size: 180px;
  grid-template-columns: repeat(auto-fit, minmax(var(--card-size), 1fr));
  position: relative;
  width: 100%;
}

.cardGrid > * {
  align-self: start;
}
