.buttonColumn {
  display: flex;
  flex-direction: column;
  gap: var(--stack-gap-sm);
}

.portrait {
  margin: 0;
  width: 56px;
  display: grid;
  place-items: center;
}

.portrait img {
  display: block;
  width: 100%;
  border-radius: var(--radius-pill);
  object-fit: cover;
}

.header {
  display: flex;
  flex-direction: row;
  gap: var(--stack-gap-sm);
  padding: var(--stack-gap-sm) 0;
  cursor: pointer;
}

.pseudo {
  display: flex;
  gap: 0.2rem;
}
.pseudo p {
  font-family: var(--type---body---accent);
  font-weight: var(--body-emphasized-weight);
  letter-spacing: var(--body-emphasized-letter-spacing);

}

.cdIcon {
  width: 26px;
  height: auto;
}
